@model CatalogoClientes.Dominio.Entidades.Cliente

@{
    ViewBag.Title = "Create";
}

<div class="clientes panel panel-primary">
    <div class="panel-heading panel-head">Cadastro de clientes</div>
    <div class="panel-body">
        
        @*O using abaixo integra o bloco responsável por validar o input do arquivo*@
        @using (Html.BeginForm("Create", "Cliente", null, FormMethod.Post, new
        {
            enctype = "multipart/form-data"
        }))


        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Cliente</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*Aqui é o code scaffold, o mesmo será substituido por um file uploader form-group logo abaixo
                    <div class="form-group">
                        @Html.LabelFor(model => model.Imagem, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Imagem, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Imagem, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ImagemTipo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ImagemTipo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImagemTipo, "", new { @class = "text-danger" })
                        </div>
                    </div>*@


                @*O trecho abaixo compreende o form com o input para arquivo*@
                <div class="form-group">
                    @Html.Label("Imagem", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" id="Imagem" name="upload" />
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Criar cliente" class="btn btn-success" /> @Html.ActionLink("Retornar", "Catalogo", null, new {@class="btn btn-default"})
                    </div>
                </div>
            </div>
        }
        @*<div>
            @Html.ActionLink("Retornar", "Catalogo")
        </div>*@
    </div>
</div>
