@model CatalogoClientes.Dominio.Entidades.Cliente

@{
    ViewBag.Title = "Details";
}

<div class="book-example panel panel-primary">
    <div class="panel-heading panel-head">Cadastro de clientes</div>
    <div class="panel-body">


        <dl class="dl-horizontal">
            @if (Model.Imagem != null)
            {
                <dt>
                    Imagem
                </dt>
                <dd>
                    <img src="@Url.Action("ExibirImagem","arquivo", new {id = Model.ClienteId})"
                         width="150" height="150" />
                </dd>

            }
            else
            {
                <dt>
                    Imagem
                </dt>
                <dd>
                    <img src="~/images/noPicture.png"
                         width="150" height="150" />
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>

            <dd class="btn-">
                @Html.DisplayFor(model => model.Endereco)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ClienteId }, new { @class = "btn btn-success"})@Html.ActionLink("Retornar", "Catalogo", null, new { @class = "btn btn-default" })
    </p>
</div>